@font-face {
  font-family: Nb;
  src: url(./NBInternationalProBoo.ttf);
}
@font-face {
  font-family: Rj;
  src: url(./Rejouice-Headline.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nb";
}

html,
body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #dadada;
  position: relative;
}
#cursor {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  background-color: #ff5f38;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%, -50%); */
}

#cursor h4 {
  font-size: 1vw;
  font-weight: 100;
}

#page1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#page1-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  color: #faf8f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
}

nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
}

#page1-content h1 {
  font-size: 27vw;
  font-family: "Rj";
  font-weight: 100;
  line-height: 27vw;
}

#page1-content h1 span {
  font-family: "Rj";
  display: inline-block;
}

#page2 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 5vw 3vw;
  background-color: #faf8f3;
}

#page2-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.1vw;
  border-bottom: 0.5px solid #00000092;
  margin-bottom: 1vw;
}

#page2-top h3 {
  font-size: 1.6vw;
  font-weight: 100;
}
.elem {
  overflow: hidden;
}
.elem h1 {
  font-size: 4.1vw;
  font-weight: 100;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 2vw;
  background-color: #faf8f3;
}
#page3-top {
  text-align: center;
}

#page3-top h4 {
  font-size: 1.4vw;
  margin-bottom: 1.5vw;
  font-weight: 100;
}

#page3-top span {
  font-size: 0.7vw;
  background-color: black;
  color: #fff;
  padding: 4px 8px;
  border-radius: 15px;
}

#page3-top h2 {
  font-size: 4vw;
  font-weight: 100;
}

#page3-elements {
  height: 40vw;
  width: 100%;
  margin-top: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#page3-elements .box {
  height: 100%;
  width: 32%;
  position: relative;
}

#page3-elements .box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#page3-elements .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  transition: all linear 0.5s;
}
#page3-elements .box:hover img {
  opacity: 0;
}

#page4 {
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf8f3;
  position: relative;
}

#page4 video {
  height: 100%;
}

#page4 svg {
  height: 55%;
  position: absolute;
}

#page5 {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 4vw 0;
  background-color: #faf8f3;
}

#page5-top h1 {
  font-size: 8vw;
  font-family: "Rj";
  font-weight: 100;
  width: 96%;
  margin-left: 2%;
  border-bottom: 0.5px solid #00000092;
}

.swiper-div {
  height: 60vh;
  width: 100%;
  position: relative;
  margin-top: -5%;
}

.swiper {
  width: 120%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.swiper-slide img {
  display: block;
  width: 19%;
  object-fit: cover;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#loader h3 {
  color: #faf8f3;
  font-size: 1.5vw;
  font-weight: 100;
  font-family: "Rj";
}
